<#include "../include/header.html">

<body>

<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="${base.contextPath}/common/code?unitCategoryData=HR.EMPLOYEE_GENDER" type="text/javascript"></script>
<script src="${base.contextPath}/common/code?unitCategoryData=HR.EMPLOYEE_STATUS"
        type="text/javascript"></script>
<script type="text/javascript">

    debugger;

    var employeeCode = "${Session.employeeCode!0}";
    var viewModel = kendo.observable({
        model: {
            enabledFlag:"Y",
            isEnabled: <#if RequestParameters.businessKey??> false <#else> true </#if>,
    },
    closeWin: function(e){
        window.parent.$("#dialog").data("kendoWindow").close();
    }
    });



    var demoId = '${RequestParameters.businessKey!0}';



</script>
<div id="newWin" style="display: none"></div>
<div id="page-content"  style="overflow:hidden">
    <form id="mainform"  class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">

        <div class="panel-body" style="padding: 5px">
            <div class="row">
              <!--  <div class="form-group col-sm-4">
                    <label class="control-label col-sm-4">编码</label>
                    <div class="col-sm-8">
                        <input id="activityCoder"  class="k-textbox" data-bind="value:model.employeeCode" style="width: 100%;background-color: #ededed;" disabled/>
                    </div>
                </div>-->
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-4">名称</label>
                    <div class="col-sm-8">
                        <input id="activityName" class="k-textbox" data-bind="disabled: isNameDisabled,value:model.name" style="width: 100%;background-color: #ededed;" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-4">状态</label>
                    <div class="col-sm-8">
                        <input id="gender"  data-bind="value:model.status" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-4">电话</label>
                    <div class="col-sm-8">
                        <input id="phone" class="k-textbox" data-bind="disabled: isNameDisabled,value:model.phone" style="width: 100%;background-color: #ededed;" disabled="disabled" />
                    </div>
                </div>
            </div>


            <div class="row" style="height: 250px;">
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-4">日期</label>
                    <div class="col-sm-8">
                        <input id="effectiveStartDate" data-bind="value:model.startActiveDate" style="width: 100%;background-color: #ededed;"  />
                    </div>
                    <script>
                        var startDate = $("#startDate").kendoDatePicker({
                            format:"yyyy-MM-dd HH:mm"
                        }).data("kendoDatetimePicker");
                    </script>
                    <script>
                        $("#activityName").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_ACT_EMPLOYEE")}, {
                            query: function (e) {
                                e.param['enabledFlag'] = 'Y';
                            },
                            textField: 'name',
                            model: viewModel.model,
                            change:function() {
                                var v = this.value();
                                if (v == undefined || v == "") {

                                } else {
                                    viewModel.model.set('demoId', this._dataItem.demoId);
                                }
                            }
                                }))
                    </script>
                </div>





            </div>








        </div>


    </form>
</div>
<script type="text/javascript">
    kendo.bind($('#mainBottom'),viewModel);
    kendo.bind($('#mainform'), viewModel);

    debugger;
    if (demoId!=0) {
        $.ajax({

            url: '${base.contextPath}/y/hap/demo/query?demoId='+demoId,
            success: function (args) {
                var a0 = args.rows[0] || {};
                for (var k in a0) {

                    viewModel.model.set(k, a0[k]);

                    /* isNotEmpty(viewModel.model.effectiveStartDate) ? effectiveEndDate.min(viewModel.model.effectiveStartDate) : "";
                    isNotEmpty(viewModel.model.effectiveEndDate) ? effectiveStartDate.max(viewModel.model.effectiveEndDate) : ""; */
                }

            }
        });
    }else{

        viewModel.set("isNameDisabled", true);

    }


    $("#effectiveStartDate").kendoDatePicker({
        animation: false,
        //value : viewModel.model.startDate,
        format: "{0: yyyy-MM-dd}"
    });




    $("#gender").kendoComboBox({
        dataSource: {
            data: unitCategoryData
        },
        valuePrimitive: true,
        dataTextField: "meaning",
        dataValueField: "value"
    });
</script>
</body>
</html>