<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.activity.mapper.FileMapper">
    <resultMap id="BaseResultMap" type="com.hand.activity.dto.File">
        <result column="FILE_ID" property="fileId" jdbcType="DECIMAL" />
        <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="DECIMAL" />
        <result column="activity_id" property="activityId" jdbcType="DECIMAL" />
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
        <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
        <result column="FILE_SIZE" property="fileSize" jdbcType="DECIMAL" />
        <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
        <result column="UPLOAD_DATE" property="uploadDate" jdbcType="DATE" />
    </resultMap>
<select id="selectAllFile" resultMap="BaseResultMap" parameterType="com.hand.activity.dto.File" >
select
FILE_ID,
ATTACHMENT_ID,
FILE_NAME,
FILE_PATH,
FILE_SIZE,
FILE_TYPE,
UPLOAD_DATE,
OBJECT_VERSION_NUMBER,
REQUEST_ID,
PROGRAM_ID,
CREATED_BY,
CREATION_DATE,
LAST_UPDATED_BY,
LAST_UPDATE_DATE,
LAST_UPDATE_LOGIN,
ATTRIBUTE_CATEGORY

from sys_file
  <where>
      ATTACHMENT_ID=#{attachmentId}

  </where>



</select>

</mapper>